<!-- {% include 'includes/default.html' %} -->
<head>
<link href="{{ url_for('static', filename='OlaMapsWebSDK/OlaMapsWebSDK/style.css') }} " rel="stylesheet" />
<script src="/static/OlaMapsWebSDK/OlaMapsWebSDK/olamaps-js-sdk.umd.js"></script>
</head>

    </script>

</head>

    <body >
        <div id="map" style=" position:absolute;right:30px;top:200px;height:490px;width:800px;">

          <script>
          const olaMaps = new OlaMapsSDK.OlaMaps({
  apiKey: 'UkUs3JeMNDj7LCtp5b23WQCZXC6qdoIaxqwCaXhn',
})
          const myMap = olaMaps.init({
            style: "https://api.olamaps.io/tiles/vector/v1/styles/default-light-standard/style.json",
            container: 'map',
            center: [Number("{{lng}}"),Number("{{lat}}")],
            zoom: 13,
          })
          const popup = olaMaps.addPopup({ offset: [0, -30], anchor: 'bottom' }).setHTML('<div>This is Place Of Search</div>')

          olaMaps
  .addMarker({ offset: [0], offset: [0, -10], anchor: 'bottom',color:'red'})
  .setLngLat([Number("{{lng}}"),Number("{{lat}}")])
  .setPopup(popup)
  .addTo(myMap)
  </script> 

     
        </div>
        <div  style="position:relative;top:30px;font-family:Source Sans Pro;font-size:2.3rem;color:black;">
          <h2 style="margin-left:25%;font-weight: bold;">Hospital NearBy</h2>
          <ul>
            <!-- {% for item in list_hospital %}
                <li>{{ item}}</li>
                {% endfor %}
                 -->
                 <ul>
                  {% for item, link in hospital_data %}
                      <li><a href="{{ link }}" style="color:black;" target="_blank">{{ item }}</a></li>
                  {% endfor %}
              </ul>
            </ul>
        </div>
        


        


    
        
       
</body>
